@model IEnumerable<DAL.Models.Item>

@section jQ
{
    @Html.Partial("PartialjQTable")
}

<h2>Products</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="tablesorter">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    
                        @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new {id = item.ItemId}); @:|
                            @Html.ActionLink("Delete", "Delete", new {id = item.ItemId});       
                        }
                   
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@Html.Partial("Pagination")




    

    

