@model IEnumerable<WebSite.Models.Item>

@section jQ
{
    @Html.Partial("PartialjQTable")
}

<h2>Products</h2>
<p>
    @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <Input type="submit" value="Search"/>
    </p>
}

<table class="footable" data-page-navigation=".pagination" data-page-size="2">
    <thead>
    <tr>
        @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
        {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                @if (Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.ItemId})
                    </td>
                }
            </tr>
        }
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10">
            <div class="pagination pagination-centered"></div>
        </td>
    </tr>
    </tfoot>
</table>






    

    

